<h2>Nova Postagem</h2>
<hr>
<div class="card">
    <div class="card-body">
        <form action="/admin/postagem/add" method="post">
            <label for="titulo">Titulo:</label>
            <input type="text" name="titulo" required class="form-control">
            <label for="desc" class="mt-2">Descrição</label>
            <input type="text" name="desc" class="form-control">
            <label for="slug" class="mt-2">Slug</label>
            <input type="text" name="slug" class="form-control">
            <br>
            <label for="categoria">Categoria:</label>
            <select name="categoria" class="form-control">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="">Nenhuma Categoria Cadastrada</option>
                {{/each}}
            </select>
            <label for="texto" class="mt-2">Texto:</label>
            <textarea name="texto" class="form-control" cols="30" rows="10"></textarea>
            
            <button class="btn btn-success mt-4" type="submit">Criar Postagem</button>
            
        </form>
    </div>
</div>